!!! 5
%html
  %head
    %title Saasapp
    = csrf_meta_tags

    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application'
    -# = javascript_pack_tag    'application'

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

  %body
    %nav.navbar.navbar-expand-lg
      .container
        = link_to root_path, class: "navbar-brand" do
          %i.fa.fa-users 
          DevMatch
        %button.navbar-toggler{type: "button", data: {toggle: "collapse", target: "#navbarNav"}, "aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          .nav.navbar-nav.navbar-right
            - if user_signed_in?
              = link_to "Log out", destroy_user_session_path, method: :delete, class: "btn"
            - else
              = link_to "Log In", new_user_session_path, class: "btn"
              = link_to "Sign Up", new_user_registration_path, class: "btn"
          %ul.navbar-nav
            %li.nav-item
              = link_to "About", about_path, class: "nav-link"
            %li.nav-item
              = link_to "Contact Us", new_contact_path, class: 'nav-link'


    .container.my-2
      -# flash.each do |key, value|
      - flash.each do |type, msg| 
        = content_tag :div, msg, class: "alert alert-#{type}"

      -# - [1, 2].each do |value|
      -#   = value + 1

    = yield


